<p class="max-w-xs md:max-w-2xl text-center text-lg font-normal">
	Written by <b>Chris Brown</b>, from the Boise area. Building useful things for the OSS community. Follow her work on
	<a href="https://twitter.com/{{ meta.social.twitter }}">🐦 Twitter</a> or <a href="https://github.com/{{ meta.social.github }}">👩‍💻 GitHub</a>.
</p>