<div class="post-listing">
	<h2 class="title">
		<a href="{{ post.url }}">{{ post.data.title}}</a>
	</h2>
	{% include 'publication.njk' %}
	<p>{{ post.data.description or 'An article written by Chris Brown' }}</p>
</div>