---
layout: base
---
<title data-helmet="">The Brownie Blog</title>
<link data-helmet="" rel="stylesheet" href="index.css">

<header>
	<h1 class="blog-title">
		<a href="/" aria-label="The Brownie Blog">
			<span class="title-piece" aria-hidden="true">The </span>
			<span class="title-piece" aria-hidden="true">Br<img class="title-piece__logo" src="/public/logo.svg" alt="">wnie</span>
			<span class="title-piece" aria-hidden="true"> Blog</span>
		</a>
	</h1>
	{% include 'bio.njk' %}
</header>

<main>
	{% for post in collections.posts %}
		{% include 'post-link.njk' %}
	{% endfor %}
</main>