---
layout: base
---
<title data-helmet="">The Brownie Blog</title>
<link data-helmet="" rel="stylesheet" href="index.css">

<header class="flex flex-col items-center gap-5">
	{% include 'portrait.njk' %}
	<h1>
		<a href="/" aria-label="The Brownie Blog" class="flex text-4xl md:text-7xl font-extrabold items-center">
			<span class="title-piece" aria-hidden="true">The </span>
			<span class="title-piece" aria-hidden="true">Br<img src="/public/logo.svg" alt="">wnie</span>
			<span class="title-piece" aria-hidden="true"> Blog</span>
		</a>
	</h1>
	{% include 'bio-text.njk' %}
</header>

<main>
	{% for post in collections.posts %}
		{% include 'post-link.njk' %}
	{% endfor %}
</main>