<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width">
		<link rel="apple-touch-icon" sizes="180x180" href="/public/favicons/apple-touch-icon.png?V=PYAmmRp8gy">
		<link rel="icon" type="image/png" sizes="32x32" href="/public/favicons/favicon-32x32.png?V=PYAmmRp8gy">
		<link rel="icon" type="image/png" sizes="16x16" href="/public/favicons/favicon-16x16.png?V=PYAmmRp8gy">
		<link rel="manifest" href="/public/favicons/site.webmanifest?V=PYAmmRp8gy">
		<link rel="mask-icon" href="/public/favicons/safari-pinned-tab.svg?V=PYAmmRp8gy" color="#668bfe">
		<link rel="shortcut icon" href="/public/favicons/favicon.ico?V=PYAmmRp8gy">
		<meta name="msapplication-TileColor" content="#ffc40d" />
		<meta name="theme-color" content="#fafafa" />

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Montserrat:wght@700;900&display=swap" rel="stylesheet">

		<link rel="preload" as="style" href="/public/fonts/JetBrainsMono/font.css">
		<link rel="stylesheet" href="/_includes/layouts/base.css">
	</head>
	<body class="mt-8 mb-4">
		{{ content | safe }}

		{# Copyright info #}
		<footer class="w-full mt-8">
			<small class="block w-full font-serif text-center text-lg">
				<span aria-label="Copyright">©</span>
				{{ helpers.currentYear() }} Chris Brown, Built with <img class="inline" src="/public/heart.svg" alt="love"> and <a href="https://www.11ty.dev/">Eleventy</a>.
			</small>
		</footer>
	</body>
</html>