<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="apple-touch-icon" sizes="180x180" href="/public/favicons/apple-touch-icon.png?V=PYAmmRp8gy">
		<link rel="icon" type="image/png" sizes="32x32" href="/public/favicons/favicon-32x32.png?V=PYAmmRp8gy">
		<link rel="icon" type="image/png" sizes="16x16" href="/public/favicons/favicon-16x16.png?V=PYAmmRp8gy">
		<link rel="manifest" href="/public/favicons/site.webmanifest?V=PYAmmRp8gy">
		<link rel="mask-icon" href="/public/favicons/safari-pinned-tab.svg?V=PYAmmRp8gy" color="#668bfe">
		<link rel="shortcut icon" href="/public/favicons/favicon.ico?V=PYAmmRp8gy">
		<meta name="msapplication-TileColor" content="#ffc40d" />
		<meta name="theme-color" content="#fafafa" />

		<link rel="preload" as="style" href="/public/fonts/JetBrainsMono/font.css">
		<link rel="stylesheet" href="/_includes/layouts/base.css">
	</head>
	<body class="my-8">
		{{ content | safe }}

		{# Copyright info #}
		<footer class="copyright-footer">
			<small class="copyright-text">
				<span aria-label="Copyright">©</span>
				{{ helpers.currentYear() }} Chris Brown, Built with <span aria-label="love">♥</span> and <a href="https://www.11ty.dev/">Eleventy</a>.
			</small>
		</footer>
	</body>
</html>