---
layout: base
---
{% set post = {
	tags: tags,
	data: {
		title: title,
		description: description,
		date: date,
		published: published
	},
	templateContent: content,
	url: page.url
} %}
<link data-helmet="" rel="stylesheet" href="/_includes/layouts/post.css">

<header class="px-8">
	<a href="/" class="block w-max mx-auto mb-5">
		<img class="inline w-8 h-8 p-0.5 " src="/public/logo.svg" alt="">
		<span class="h-full align-middle font-serif font-bold text-lg" style="color: #668AFE;">Home</span>
	</a>

	<div class="flex flex-col gap-y-10">
		<div class="flex flex-col gap-y-3 items-center">
			<h1 class="font-sans font-extrabold text-center text-4xl">{{ title }}</h1>
			{% include 'publication-metadata.njk' %}
		</div>

		{% if image.file and image.description %}
			<img class="rounded shadow" src="{{ image.file }}" alt="{{ image.description }}" />
			<br>
		{% elif video.file %}
			<video class="w-full rounded shadow-sm" playsinline="playsinline" autoplay="autoplay" loop="loop" muted="muted">
				<source src="{{ video.file }}" />
			</video>
			<br>
		{% endif %}
	</div>
</header>

<main class="px-8">
	{# Table of Contents #}
	{{ content | toc | safe }}

	{# Markdown content #}
	<article class="post-content">
		{{ content | safe }}
	</article>
</main>

<hr>

<aside>
	{% include 'bio.njk' %}
</aside>

<nav aria-labelledby="article-navigation-title" class="other-articles">
	<h2 id="article-navigation-title">Other Articles</h2>
	<a href="{{previous.url}}">← {{previous.data.title}}</a>
	<br>
	<a href="{{next.url}}">{{next.data.title}} →</a>
</nav>
