---
layout: base
---
{% set post = {
	tags: tags,
	data: {
		title: title,
		description: description,
		date: date,
		published: published
	},
	templateContent: content
} %}
<link data-helmet="" rel="stylesheet" href="/_includes/layouts/post.css">

<header>
	<a href="/" class="blog-title">The Brownie Blog</a>
	<h1 class="post-title">{{ title }}</h1>
	{% include 'publication-metadata.njk' %}

	{% if image.file and image.description %}
		<img src="{{ image.file }}" alt="{{ image.description }}" class="" />
		<br>
	{% elif video.file %}
		<video class="w-full rounded" playsinline="playsinline" autoplay="autoplay" loop="loop" muted="muted">
			<source src="{{ video.file }}" />
		</video>
		<br>
	{% endif %}
</header>

<main>
	{# Table of Contents #}
	{{ content | toc | safe }}

	{# Markdown content #}
	<article class="post-content">
		{{ content | safe }}
	</article>
</main>

<hr>

<aside>
	{% include 'bio.njk' %}
</aside>

<nav aria-labelledby="article-navigation-title" class="other-articles">
	<h2 id="article-navigation-title">Other Articles</h2>
	<a href="{{previous.url}}">← {{previous.data.title}}</a>
	<br>
	<a href="{{next.url}}">{{next.data.title}} →</a>
</nav>